.success {
  color: $color-success;
}

.error {
  color: $color-danger;
}

table {
  font-family: monospace;

  td {
    padding: 0.25rem;

    &.r {
      background: $color-background-r;
    }

    &.g {
      background: $color-background-g;
    }

    &.b {
      background: $color-background-b;
    }

    &.w {
      background: $color-background-w;
    }
  }

  tr {
    &.r td {
      background: $color-background-r;
    }

    &.g td {
      background: $color-background-g;
    }

    &.b td {
      background: $color-background-b;
    }

    &.w td {
      background: $color-background-w;
    }
  }
}
