:host {
  font-family: var(--sl-font-sans);
  line-height: var(--sl-line-height-dense);
  padding: var(--sl-spacing-small);
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0 0 var(--sl-spacing-small);
}

h1 {
  font-size: var(--sl-font-size-x-large);
  font-weight: var(--sl-font-weight-bold);
}

h2 {
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-semibold);
}

h3 {
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}

.text-success {
  color: var(--sl-color-success-700);
}

.text-error {
  color: var(--sl-color-danger-600);
}

.text-red {
  color: var(--sl-color-red-600);
}

.text-green {
  color: var(--sl-color-green-600);
}

.text-blue {
  color: var(--sl-color-blue-600);
}

.text-white {
  color: var(--sl-color-gray-600);
}

table {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
  /*border-collapse: collapse;*/
}

td {
  padding: var(--sl-spacing-x-small) var(--sl-spacing-x-small);
}

th {
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
}

tr.separator th {
  padding-top: var(--sl-spacing-large);
}

.profile-comparison th {
  text-align: right;
}

td {
  text-align: right;
  font-weight: 600;
}

th {
  font-weight: var(--sl-font-weight-normal);
  font-family: var(--sl-font-sans);
}

td.red {
  background: var(--app-color-bg-r);
}

td.green {
  background: var(--app-color-bg-g);
}

td.blue {
  background: var(--app-color-bg-b);
}

td.white {
  background: var(--app-color-bg-w);
}

tr.red td {
  background: var(--app-color-bg-r);
}

tr.green td {
  background: var(--app-color-bg-g);
}

tr.blue td {
  background: var(--app-color-bg-b);
}

tr.white td {
  background: var(--app-color-bg-w);
}

tr.red td.clear,
tr.green td.clear,
tr.blue td.clear,
tr.white td.clear {
  background: transparent;
}

.number-percent::after {
  content: '%';
}

.align-percent::after {
  content: '%';
  opacity: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.about-trigger {
  position: fixed;
  top: var(--sl-spacing-medium);
  right: var(--sl-spacing-medium);
  z-index: 2;
}

.about-dialog {
  --width: 70ch;
}

.about-dialog > .logo {
  max-width: 32px;
  height: auto;
}

.app-title {
  display: flex;
  align-items: center;
}

.app-title > .logo {
  max-width: 32px;
  height: auto;
  margin-right: var(--sl-spacing-small);
}

.table-section {
  margin-bottom: var(--sl-spacing-x-large);
}

.table-section > .title {
  margin-bottom: 0;
}

.table-section > .file {
  margin-bottom: var(--sl-spacing-small);
}
