:host {
  --app-spacing-header: var(--sl-spacing-medium);
  --app-section-spacing: var(--sl-spacing-3x-large);

  font-family: var(--sl-font-sans);
  line-height: var(--sl-line-height-dense);
  padding: 0 var(--sl-spacing-small);
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0 0 var(--sl-spacing-small);
}

a {
  color: var(--sl-color-primary-800);
}

h1 {
  font-size: var(--sl-font-size-x-large);
  font-weight: var(--sl-font-weight-bold);
}

h2 {
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-semibold);
}

h3 {
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}

ol li {
  margin-bottom: var(--sl-spacing-medium);
}

.text-success {
  color: var(--sl-color-success-700);
}

.text-error {
  color: var(--sl-color-danger-600);
}

.text-red {
  color: var(--sl-color-red-600);
}

.text-green {
  color: var(--sl-color-green-600);
}

.text-blue {
  color: var(--sl-color-blue-600);
}

.text-white {
  color: var(--sl-color-gray-600);
}

table {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
}

td {
  padding: var(--sl-spacing-x-small) var(--sl-spacing-x-small);
}

th {
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
}

tr.separator th {
  padding-top: var(--sl-spacing-large);
}

.profile-comparison th {
  text-align: right;
}

td {
  text-align: right;
  font-weight: 600;
}

th {
  font-weight: var(--sl-font-weight-normal);
  font-family: var(--sl-font-sans);
}

td.red {
  background: var(--app-color-bg-r);
}

td.green {
  background: var(--app-color-bg-g);
}

td.blue {
  background: var(--app-color-bg-b);
}

td.white {
  background: var(--app-color-bg-w);
}

tr.red td {
  background: var(--app-color-bg-r);
}

tr.green td {
  background: var(--app-color-bg-g);
}

tr.blue td {
  background: var(--app-color-bg-b);
}

tr.white td {
  background: var(--app-color-bg-w);
}

tr.red td.clear,
tr.green td.clear,
tr.blue td.clear,
tr.white td.clear {
  background: transparent;
}

.number-percent::after {
  content: '%';
}

.align-percent::after {
  content: '%';
  opacity: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.about-trigger {
  font-size: var(--sl-font-size-x-large);
}

.about-dialog {
  --width: 70ch;
}

.about-dialog > .logo {
  max-width: 32px;
  height: auto;
}

.about-dialog::part(body) {
  padding-top: 0;
}

.about-dialog code {
  word-break: break-word;
}

.app-title {
  display: flex;
  align-items: center;
}

.app-title > .logo {
  max-width: 32px;
  height: auto;
  margin-right: var(--sl-spacing-small);
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid var(--sl-input-border-color);
}

.app-header > .title {
  margin: var(--app-spacing-header) 0 var(--app-spacing-header) var(--app-spacing-header);
}

.app-header > .info {
  margin: var(--app-spacing-header) var(--app-spacing-header) var(--app-spacing-header) 0;
}

/*noinspection CssUnresolvedCustomProperty*/
.app-content {
  padding-top: calc(var(--app-header-size) + var(--sl-spacing-large));

  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--app-section-spacing);
  row-gap: var(--app-section-spacing);
}

.badge-text {
  display: flex;
  align-items: center;
}

.badge-text > .badge {
  margin-left: var(--sl-spacing-x-small);
}

@media screen and (min-width: 1024px) {
  .app-content {
    grid-template-columns: fit-content(20%) auto;
  }
}

.table-section {
  margin-bottom: var(--app-section-spacing);
}

.table-section:last-child {
  margin-bottom: 0;
}

.table-section > .title {
  margin-bottom: 0;
}

.table-section > .file {
  margin-bottom: var(--sl-spacing-small);
}

.app-name {
  font-size: var(--sl-font-size-medium);
}

.app-name > .desc {
  display: block;
  font-size: var(--sl-font-size-x-small);
  font-weight: lighter;
}

.section-title {
  display: flex;
  align-content: center;
}

.section-title > .text {
  margin-right: var(--sl-spacing-x-small);
}

.icon-button > .icon {
  margin-right: var(--sl-spacing-2x-small);
}

@media screen, print and (min-width: 512px) {
  .app-name {
    font-size: var(--sl-font-size-large);
  }
}

@media print {
  .about-trigger,
  .load-file-button {
    display: none;
  }

  .app-header {
    border: none;
  }
}
