// Imported in each .scss file
//@import '~@shoelace-style/shoelace/dist/themes/light.css';

$color-danger: #dc2626;
$color-success: #15803f;

$color-background-r: #fee2e2;
$color-background-g: #dbfce7;
$color-background-b: #e0f2fe;
$color-background-w: #f9f9f9;
