@import 'normalize.css';
@import '@shoelace-style/shoelace/dist/themes/light.css';

:root {
  --sl-font-mono: 'JetBrains Mono';

  --app-color-bg-r: var(--sl-color-red-100);
  --app-color-bg-g: var(--sl-color-green-100);
  --app-color-bg-b: var(--sl-color-blue-100);
  --app-color-bg-w: var(--sl-color-gray-100);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/web/JetBrainsMono-Regular.woff2') format('woff2'), url('../fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/web/JetBrainsMono-SemiBold.woff2') format('woff2'), url('../fonts/ttf/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
