name: Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy to Github Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
            path: ~/.pnpm-store
            key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
            restore-keys: |
              ${{ runner.os }}-

      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 6
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - run: |
          echo 'INJECT_ANALYTICS=1' >> .env
          echo "BUILD_VERSION=${GITHUB_REF_NAME}-$(date -u +"%Y-%m-%dT%H:%M")-${GITHUB_SHA::7}" >> .env

      - name: Build
        run: pnpm run build:gh-pages

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          allow_empty_commit: true
