name: Deploy

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Netlify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Setup version
        uses: ./.github/actions/setup-version

      - run: |
          echo 'INJECT_ANALYTICS=1' >> .env

      - name: Build
        run: pnpm run build

      # @see https://cli.netlify.com/commands/deploy/
      - name: Deploy
        id: deploy
        run: |
          rm package.json && \
          pnpm --package=netlify-cli@22.2.1 dlx netlify deploy \
            --no-build \
            --dir dist \
            --message 'Production deployment (${{ env.GITHUB_SHA_SHORT }})' \
            --prod \
            --json
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
