name: Deploy (main)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Netlify (main)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - uses: gacts/github-slug@v1
        id: slug

      - run: |
          echo "BUILD_VERSION=${GITHUB_REF_NAME}-$(date -u +"%Y-%m-%dT%H:%M")-${GITHUB_SHA::7}" >> .env
          echo "BRANCH_NAME_SLUG=${{ steps.slug.outputs.branch-name-slug }}" >> $GITHUB_ENV
          echo "DEPLOY_URL=https://${{ steps.slug.outputs.branch-name-slug }}--probe-match-verifier.netlify.app" >> $GITHUB_ENV
          echo "GITHUB_SHA_SHORT=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

      - name: Build
        run: pnpm run build

      # @see https://cli.netlify.com/commands/deploy/
      - name: Deploy
        id: deploy
        run: |
          rm package.json && \
          pnpm --package=netlify-cli@22.2.1 dlx netlify deploy \
            --alias ${{ env.BRANCH_NAME_SLUG }} \
            --no-build \
            --dir dist \
            --message 'Preview deployment for ${{ steps.slug.outputs.branch-name }} (${{ env.GITHUB_SHA_SHORT }})' \
            --json
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
