name: Deploy (preview)

on:
  pull_request:

jobs:
  deploy:
    name: Deploy to Netlify (preview)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - uses: gacts/github-slug@v1
        id: slug

      - run: |
          echo 'INJECT_ANALYTICS=1' >> .env
          echo "BUILD_VERSION=${GITHUB_REF_NAME}-$(date -u +"%Y-%m-%dT%H:%M")-${GITHUB_SHA::7}" >> .env
          echo "BRANCH_NAME_SLUG=${{ steps.slug.outputs.branch-name-slug }}" >> $GITHUB_ENV
          echo "DEPLOY_URL=https://${{ steps.slug.outputs.branch-name-slug }}--probe-match-verifier.netlify.app" >> $GITHUB_ENV
          echo "GITHUB_SHA_SHORT=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

      - name: Build
        run: pnpm run build

      # Use netlify-cli directly, since it is installed in the latest ubuntu runner
      # @see https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#cli-tools
      # @see https://cli.netlify.com/commands/deploy/
      - name: Deploy
        id: deploy
        run: |
          rm package.json && \
          pnpm --package=netlify-cli@22.2.1 dlx netlify deploy \
            --alias ${{ env.BRANCH_NAME_SLUG }} \
            --build false \
            --dir dist \
            --message 'Preview deployment for ${{ steps.slug.outputs.branch-name }} (${{ env.GITHUB_SHA_SHORT }})' \
            --prod false \
            --json true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        if: github.event_name == 'pull_request'
        with:
          message: |
            Deployed to ${{ env.DEPLOY_URL }}
          comment_tag: deployment
